@media (max-width: 1199px){
.login-capcha-image {
    width: 35%;
}
.refresh-login-img {
    width: 15%;
}
.login-capcha-image-refresh.register-capcha-img-refresh {
    width: 57%;
    display: table;
    margin: 0 auto;
}
.checkbox.form-sub-main-chk {
    display: table;
    margin: 0 auto;
    padding: 15px 0px;
}
.register-privacy-section {
    padding: 0px; 
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 11px;
}
.change-pwd-main {
    padding: 22px 0px 50px 0px;
}
.changepassword-form {
    padding: 12px 0px 30px 0px;
}
.chage-pwd-title {
   
     margin-bottom: 15px; 
}
.credetials-form {
    background-color: #000;
    height: 159px;
    padding: 9px 20px 0px 20px;
}
.creadentials-wrap {
    padding: 10px 0px 125px 0px;
}
.credentials-main {
    padding: 0px 0px 0px 0px;
}
.search-multiple .dropdown.dropdown-lg .dropdown-menu {
    min-width: 537px;
}
.all-files-main .table tbody tr td {
    padding: 4px;
    text-align: center;
    clear: both;
    word-break: break-all;
}
.vertical-tabs-main {
     padding: 6px 11px 90px 11px;
}
.vertical-tab .tab-content {
    color: #000;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 23px;
    margin-top: 10px;
    padding: 10px 123px;
    display: table-cell;
    position: relative;
}
.vertical-tab .nav-tabs {
    display: table-cell;
    width: 19%;
    min-width: 19%;
    border: none;
    vertical-align: top;
    position: relative;
}
}
@media(max-width:1024px){
	.sub-content.New-login-activationpage-veridoc-global {
    padding: 154px 170px !important;
}
.activation-text-content-new {
    padding: 0;
}

}
@media(max-width:991px){
	.sub-bg-green {margin: 0 15px;}
	.sub-content {margin: 0 15px;    border-top-right-radius: unset;border-bottom-left-radius: 6px;}
	.sub-logo {padding: 50px 0;}
	.sub-btn-main-div {width: 46%;margin: 0 auto;}
	.before-active {border-radius: 6px;}
	.sub-bg-green {padding: 0 0 55px;border-top-right-radius: 6px;}
	.sub-content.New-login-activationpage-veridoc-global {padding: 70px 50px !important;}
	.New-VDG-account-details-of-form {
    padding: 20px 33px 50px 33px;
}
.navbar {
    position: relative;
    min-height: 101px;
    margin-bottom: 20px;
    border: none!important;
    padding: 0px 30px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 11px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.search-multiple .dropdown.dropdown-lg .dropdown-menu {
    min-width: 417px;
}

#adv-search {
    margin: 24px auto 20px;
}


.templete-list-tables table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.templete-list-tables table tr {
    display: block;
    margin-bottom: .625em;
}
.templete-list-tables table tr {
    display: block;
    margin-bottom: .625em;
}
.templete-list-tables table td {
    display: block;
    font-size: 1em;
  
}
.templete-list-tables table td::before {
    content: attr(data-label);
    float: none;
    clear: both;
    display: block;
}
.templete-list-tables table td:before {
    content: attr(data-label);
    float: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    display: table;
}
.vertical-tab .nav-tabs {
    display: table-cell;
    width: 22%;
    min-width: 22%;
    border: none;
    vertical-align: top;
    position: relative;
}
.vertical-tab .tab-content {
    color: #000;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 23px;
    margin-top: 10px;
    padding: 0px 40px;
    display: table-cell;
    position: relative;
}
}

@media(max-width:736px){
	.login-capcha-image {
    width: 42%;
}
.inputs.paswd-recovery-form label {
    width: 100%;
    margin-bottom: 20px;
}
.inputs.paswd-recovery-form input {
    width: 63%;
}
.navbar {
    position: relative;
    min-height: 101px;
    margin-bottom: 20px;
    border: none!important;
    padding: 0px 0px;
}
.vertical-tab .nav-tabs{
        display: block;
        width: 100%;
        border-right: none;
    }
    .vertical-tab .nav-tabs li a{ margin: 0 0 5px 0; }
   .vertical-tab .tab-content {
    display: block;
    padding: 18px 7px 7px 7px;
}
    .vertical-tab .tab-content h3{ font-size: 18px; }
}
@media(max-width: 680px){
	
}
@media(max-width: 640px){
	.New-VDG-gradient-changepwd-button {
    padding: 9px 28px !important;
    border: none !important;
    border-radius: 0px !important;
    text-transform: uppercase !important;
    text-align: center;
    width: 37%;
    font-size: 15px;
}

}

@media (max-width: 568px){
.New-VDG-gradient-register-button.recover-button-margin {
    margin: 30px auto 20px;
    display: table;
}
.back-psd-recovery {
    margin: 30px auto 0;
    display: table;
}
.login-capcha-image-refresh.register-capcha-img-refresh {
    width: 67%;
    display: table;
    margin: 0 auto;
}
.New-button-of-login-pages-VDG {
    text-align: center;
    padding: 30px 20px 30px;
}
.New-VDG-gradient-changepwd-button {
    padding: 9px 10px !important;
    border: none !important;
    border-radius: 0px !important;
    text-transform: uppercase !important;
    text-align: center;
    width: 46%;
    font-size: 15px;
}
}
@media(max-width: 533px){
	.login-capcha-image-refresh.register-capcha-img-refresh {
    width: 81%;
    display: table;
    margin: 0 auto;
}
.form-sub-main-chk label {
    font-size: 14px;
    color: #c4c4c4;
    padding-left: 0px;
}
.search-multiple .ddl-type label {
    float: left;
    font-size: 14px;
    margin: 6px 20px 6px 0;
    width: 23%;
}
}
@media(max-width: 480px){
	.login-capcha-image-refresh.register-capcha-img-refresh {
    width: 100%;
    display: table;
    margin: 0 auto;
}
.form-sub-main-chk {
    text-align: center;

}
.login-capcha-image {
    width: 50%;
}
.login-capcha-refresh {
    width: 45%;
    margin-left: 10px;
}
.sub-txt {
    width: 83% !important;
    display: inline-block !important;
    border: none !important;
    box-shadow: none !important;
    color: #000!important;
    font-size: 14px !important;
    position: relative;
    background: transparent;
}
img.sub-icon-img {
    width: 20px;
    margin-left: 6px;
}
.search-multiple .dropdown.dropdown-lg .dropdown-menu {
    min-width: 331px;
}
.inputs.paswd-recovery-form input {
    width: 72%;
}
}
@media(max-width: 414px){
	.login-capcha-refresh {
    width: 100%;
    margin: 15px 0;
}
.login-capcha-image {
    width: 100%;
}
.refresh-login-img {
    width: 10%;
    float: right;
}
.form-group.form-sub-main.capta-textbox {
    width: 83%;
}
.New-VDG-account-details-of-form {
    padding: 20px 27px 50px 27px;
}
.sub-icon-img.lock-icon-img {
    width: 16px;
    padding-top: 2px;
}
.margin-login-capcha {
    margin-top: 14px;
}
.New-VDG-gradient-login-button {
    font-size: 12px !important;
}
.New-VDG-gradient-changepwd-button {
    padding: 9px 2px !important;
    border: none !important;
    border-radius: 0px !important;
    text-transform: uppercase !important;
    text-align: center;
    width: 49%;
    font-size: 14px;
}
  
}

@media(max-width: 375px){
	
.New-VDG-gradient-register-button .back-psd-recovery {
    padding: 10px 33px !important;
}
.new-register-title {
    font-size: 30px;
}
}